* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #161917;
    color: #E1E3DB;   
}
header .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #892224;
    margin-bottom: 50px;
}
header #idade {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #892224;
    margin-bottom: 50px;
}
header .button {
    width: 170px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}