/*General Reset*/
* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #161917;
    color: #E1E3DB;   
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom:  1px solid red;
}

header .logo {
    width: 100px;
}

header section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .links {
    display: flex;
    flex-direction: row;
    flex: 1;
}

header .links li {
    padding: 10px;
    margin: 0px 20px;
    list-style: none;
}

header .links li a {
    color: #E1E3DB;
    text-decoration: none;
}

main #inicio {
    width: 100%;
    height: 800px;
    overflow-y: hidden;
}

main #inicio img {
    width: 100%;
    height: 1000px;
    transform: scaleX(-1);
}

main #artistas {
    margin-top: 100px;
    padding: 100px;
}

main #artistas #artistas-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: hidden;
}

main #artistas div img {
    width: 377px;
    height: 500px;
}

main .artista {
    display: flex;

    flex-direction: column;
    width: 30%;
    margin: 0 20px;
}

main .artista div {
    margin-top: -100px;
    background: #111;
    opacity: 0.8;
    width: 100%;
    height: 19%;
    overflow-y: hidden;
    padding: 30px 25px;
}

main .title {
    color: #892224;
}

main #noticias-card{
    margin-top: 100px;
    padding: 100px;
}

main #noticias #noticias-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: hidden;
}
main #noticias-card article img {
    width: 377px;
    height: 500px;
}
main .noticias-card {
    display: flex;

    flex-direction: column;
    width: 30%;
    margin: 0 20px;
}
main .noticias-card article {
    margin-top: -100px;
    background: #111;
    opacity: 0.8;
    width: 100%;
    height: 19%;
    overflow-y: hidden;
    padding: 30px 25px;
}
main .titleN {
    color: #892224;
}
